#nav-underlay {
	background-color: #EEEEEE77;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	transition: opacity .5s;
}

#menu-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	padding: .2rem;
	position: fixed;
	top: .6rem;
	left: 1.1rem;
	cursor: pointer;
	z-index: 2;
}

#menu-icon-container {
	width: 80%;
	height: 4px;
	position: relative;
	filter: drop-shadow(0 0 2px gray);
}

.menu-icon-div {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: .2rem;
	background-color: #FFFFFF;
	transition: opacity .25s, transform .5s, top .25s;
}

.menu-icon-div:first-child {
	top: -10px;
}

.menu-icon-div:last-child {
	top: 10px;
}

#menu-toggle:checked ~ #menu-icon .menu-icon-div {
	display: none;
	top: 0;
}

#menu-toggle:checked ~ #nav-underlay {
	z-index: 1;
	opacity: 1;
}

#menu-toggle:checked ~ #menu-icon .menu-icon-div:first-child {
	display: block;
	transform: rotate(45deg);
}

#menu-toggle:checked ~ #menu-icon .menu-icon-div:last-child {
	display: block;
	transform: rotate(-45deg);
}

#menu-icon > img {
	filter: invert(1);
	transition: .5s;
	height: 100%;
}

#menu-icon:hover > img {
	filter: invert(.3);
}

#menu-toggle:checked ~ nav {
	left: 0;
}

nav {
	width: var(--nav-width);
	height: 100vh;
	background-color: #FCFCFC;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: calc(var(--nav-width) * -1);
	margin: 0;
	padding: 4.2rem 0 .6rem;
	z-index: 1;
	transition: left .5s;
}

nav > #nav-padding {
	overflow-y: auto;
	width: 100%;
	height: 100%;
	padding: 0 .6rem;
	direction: rtl;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

nav a {
	max-width: var(--nav-width);
	height: auto;
	min-height: 2rem;
	padding: .5rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	direction: ltr;
	color: #32363B;
	text-align: center;
	font-size: 1.5rem;
	transition: border-radius .3s;
}

nav a:hover {
	color: #011026;
	background-color: #51ABFF;
	border-radius: 5px;
}


nav span {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}