.scroll-banner {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: min(10vw, 5rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.scroll-banner-content {
	font-size: 2.5rem;
}