:root {
	--nav-width: min(max(20vw, 20rem), 300px);
	font-size: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
	z-index: 10;
}

body {
	background-image: url("./static/images/background.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	color: #333;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Roboto, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #222;
}

#menuicon {
	width: 3rem;
	height: 3rem;
	padding: .2rem;
	text-align: center;
	position: fixed;
	top: .6rem;
	left: 1.1rem;
	z-index: 100;
	transition: border-radius .7s;
	filter: drop-shadow(0px 0px 1px black);
}

#menuicon > img {
	filter: invert(1);
	transition: .5s;
	height: 100%;
}

#menuicon:hover > img {
	filter: invert(.3);
}

#menutoggle:checked + nav{
	left: 0;
}

nav {
	width: var(--nav-width);
	height: 100vh;
	background-color: #0D1716;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: calc(var(--nav-width) * -1);
	margin: 0;
	padding: 4.2rem 0 .6rem;
	z-index: 99;
	transition: left 1s;
}

nav > #navpadding {
	overflow-y: auto;
	width: 100%;
	height: 100%;
	padding: 0 .6rem;
	direction: rtl;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

nav a {
	max-width: var(--nav-width);
	height: auto;
	min-height: 2rem;
	padding: .5rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	direction: ltr;
	color: #BEB2A4;
	text-align: center;
	font-size: 1.5rem;
	transition: border-radius .3s;
}

nav a:hover {
	color: #222;
	background-color: #F7EFE4;
	border-radius: 5px;
}


nav span {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-size: 2rem;
	color: #F3E3E3;
	text-shadow: 2px 2px #666;
}

header h2, header h4 {
	margin: 0;
}

section {
	background-color: #BBAF9D;
}

section h1 {
	text-align: center;
}

section p {
	font-size: 1.2rem;
}

#github {
	background-color: #24292E;
	height: 100vh;
	color: #EEE;
}

#repoList {
	position: relative;
	width: 100%;
	min-height: 80vmin;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

#nextrepo, #prevrepo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	width: 3rem;
	height: 3rem;
	transform: translateY(-50%);
	background-color: #FFFFFF6B;
	z-index: 15;
	border-radius: 50%;
	transition: background-color .7s;
}

#nextrepo:hover, #prevrepo:hover {
	background-color: #FFFFFF;
	cursor: pointer;
}

#nextrepo img, #prevrepo img {
	max-width: 90%;
	max-height: 90%;
}

#prevrepo img {
	transform: rotate(180deg);
}

#prevrepo {
	left: .5rem;
	z-index: 25;
}

#nextrepo {
	right: .5rem;
	z-index: 25;
}

.repo {
	width: 100%;
	height: 100%;
	background-color: #000;
	color: #EEE;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: -100vw;
	padding: 0 2rem;
	margin: 0;
	border-radius: .2rem;
	overflow: hidden;
}

.repo .repomain {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.repo h2 {
	margin: .5rem 0;
	text-align: center;
}

.repo .desc {
	background-color: #FFFFFF6B;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	margin: 0 0 0 2%;
	padding: 2%;
	border-radius: 2px;
	z-index: 15;
}

.repo .desc p {
	margin: 0;
	font-size: 4vmax;
}

.repo .desc a {
	background-color: #BBB;
	font-weight: bold;
	text-align: center;
	padding: .6rem .3rem;
	border-radius: 5px;
	transition: .2s;
}

.repo .desc a:hover {
	background-color: #CCC;
	color: #194F8A;
	font-weight: bold;
}

.repo a {
	position: relative;
}

.repo a img {
	width: min(45vw, 70vmin);
	border: 1px solid white;
	border-radius: 1rem;
}

.repo a svg {
	position: absolute;
	color: white;
	top: 0;
	right: 0;
	border-top-right-radius: 1rem;
	border-top: 1px solid white;
	border-right: 1px solid white;
}

.leftrepo {
	left: -100vw;
}

.showrepo {
	left: 0 !important;
	z-index: 20;
	transition: .5s left;
}

.hiderepo {
	transition: .5s left;
}

.rightrepo {
	left: 100vw;
}

.logoLink {
	height: 3rem;
	width: 3rem;
	padding: 5px;
}


/* Most browsers don't support this but Chrome does. CUSTOM SCROLL BARS!!! */
::-webkit-scrollbar {
	width: .7rem;
}

::-webkit-scrollbar-track {
	background: #EEE;
	box-shadow: inset -.2rem 0 .1rem #DDD;
}

::-webkit-scrollbar-thumb {
	background: #BBB;
	border-radius: .35rem;
	box-shadow: inset -.2rem -.1rem #AEAEAE;
}

::-webkit-scrollbar-thumb:hover {
	background: #AAA;
}

/*Classes*/
.hidden {
	visibility: hidden;
	position: absolute;
	width: 0;
	height: 0;
}

.rowcenter, .rowalign {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.columncenter, .columnalign {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.columnalign, .rowalign {
	align-items: center;
}

.rowstack {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.columnstack {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.rowspace {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.columnspace {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.rowbetween{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.columnbetween{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.screenCover {
	height: 100vh;
	width: 100vw;
}

.slightPadding {
	padding: .5vh 20px;
}

.heavyPadding {
	padding: 20px 40px;
}

footer {
	width: 100%;
	height: auto;
	min-height: 10vh;
	background: #C8C8C8;
	font-size: .75rem;
}

footer * {
	max-height: 9vh;
	margin: 0;
}

footer a {
	font-size: .5rem;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
	font-style: italic;
	color: blue;
}

@media only screen and (max-width: 600px) {
	.repo .repomain {
		flex-direction: column;
	}

	.repo a {
		width: 90%;
	}

	.repo a img {
		width: 100%;
	}

	.repo .desc {
		flex-direction: column-reverse;
		align-items: center;
		margin: 0 2%;
		font-size: 2.5vmax;
		text-align: center;
	}
}
