/*Testing styles*/
.space{
	height: 50vh;
	width: 100vw;
}


body
{
	background-color: rgb(7, 11, 52);
	margin: 0;
	padding: 0;
}

#nav
{
	width: 100vw;
	height: 10vh;
	background: rgba(255, 255, 255, 0.7);
	position: fixed;
	top: 0;
}

#nav > *
{
	width: 0;
	height: 100%;
	padding-right: 100%; 
}

#main
{
	
}

#firstView
{
	width: 100vw;
	height: 100vh;
	background-image: url("https://apod.nasa.gov/apod/image/1910/MilkyWaySaltFlat_Huerta_2048.jpg");
	background-size: cover;
	position: fixed;
	z-index: -1;
}

#footer
{
	width: 100vw;
	height: 10vh;
	background: rgba(255, 255, 255, 0.7);
}