.about-container {
	background-color: #F8F8FA;
	padding: 2rem;
}

.about-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	overflow: auto;
}

.about-profile-picture {
	shape-outside: url("../../../images/profile.svg");
	width: 30%;
	min-width: min(100%, 300px);
}

.about-desc {
	width: min(100%, 800px);
	font-size: max(min(1.4rem, 2.7vw), .9rem);
	text-align: justify;
	line-height: 120%;
	overflow: auto;
}

.about-desc-spacer {
	display: block;
	width: 100%;
	padding: .25rem 0;
}

.about-desc-scroll-banner {
	font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
	.about-heading {
		margin-bottom: 0;
	}

	.about-content {
		flex-direction: column;
	}
}