#featured {
	background-color: #F2F2F2;
	padding: .5rem 1rem 3rem;
}

#featured-container {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
	column-count: auto;
	grid-gap: .1rem;
	padding: .2rem min(2%, 2rem);
}