#splash_v2 {
	font-size: 2rem;
	color: #333333;
	text-shadow: #F3E3E3 0 0 3px;
}

#splash_v2 > * {
	margin: 0;
}

.splash-overlay {
	background-color: #F0F0F0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 0;
}

.splash-overlay-content,
.splash-overlay-visual {
	position: relative;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	align-self: stretch;
}

.splash-overlay-content {
	background-color: #F7FAFD;
	flex: 1 1 60%;
	padding: 4rem 4rem 8rem;
	user-select: none;
	text-align: left;
	z-index: 1;
}

@supports (clip-path: polygon(0 0)) {
	.splash-overlay-content {
		/* Magic number percentages */
		padding-right: 12.5%;
		margin-right: -7.5%;
		clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
	}
}

.splash-overlay-visual {
	width: max(400px, 40%);
}

.splash-overlay-substitute {
	position: relative;
	left: -6px;
	width: 340px;
	height: 100%;
}

.splash-overlay-content > * {
	margin: 0;
}

.splash-mini-intro {
	font-size: 1.25rem;
	font-style: italic;
}

.splash-mini-title {
	font-size: 3rem;
	margin: 4px 0 8px 0;
	text-align: left;
}

.splash-mini-subtitle {
	font-size: 1.2rem;
	font-style: italic;
	padding-bottom: 8px;
	color: #606060;
	line-height: 1.5;
}

.splash-cta-button {
	position: relative;
	display: block;
	padding: 4px 2px;
	border-radius: 4px;
	border: none;
	color: #606060;
}

.splash-cta-text {
	position: relative;
	font-size: 1.25rem;
	padding: 4px 0;
	transition: color .1s;
}

.splash-cta-text-words {
	position: relative;
	top: 0;
	left: 0;
	transition: left .1s;
}

.splash-cta-text-arrow {
	position: relative;
	transition: left .1s;
	font-size: 1.5rem;
	top: 0;
	left: 0;
}

.splash-cta-button:hover .splash-cta-text-words {
	left: 4px;
}

.splash-cta-button:hover .splash-cta-text-arrow {
	left: 8px;
}

.splash-cta-text:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	transition: height .05s, bottom .05s;
	background-color: #0075EA;
}

.splash-cta-text:hover:before {
	height: 2px;
}

/* Note: Non-standard breakpoint used for splash (Because it looks better) */
@media only screen and (max-width: 800px), only print {
	.splash-overlay-content {
		width: 100%;
		margin-right: 0;
		padding: 3rem 2rem;
		background-color: #F7FAFD99;
		user-select: none;
		clip-path: none;
		/* Previously adjusting colors to preserve opacity when printing. Now hiding the animation instead */
		/* color-adjust: exact; */
		/* -webkit-print-color-adjust: exact; */

		/* Unfortunately prevents scrolling on touchscreen. Added conditionally with other @media queries */
		/* pointer-events: none; */
	}

	.splash-overlay-visual {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.splash-overlay-substitute {
		position: relative;
		left: -4px;
		width: 310px;
		height: 100%;
	}
}

/* Hide Canvas Animation When Printing */
@media only print {
	.splash-overlay-visual {
		background-color: #F0F0F0;
		color-adjust: exact;
		-webkit-print-color-adjust: exact;
	}

	.splash-overlay-visual > * {
		display: none;
	}
}

/* Yes Mouse, Yes Canvas Interaction. Otherwise, No Canvas Interaction */
@media only screen and (pointer: fine) {
	.splash-overlay-content {
		pointer-events: none;
	}
	.splash-overlay-content .splash-cta-button {
		pointer-events: all;
	}
}