:root {
	--nav-width: min(max(20vw, 20rem), 300px);
	font-size: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
	z-index: 10;
}

body {
	background-image: url("../images/background.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	color: #191816;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Roboto, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #222222;
}

section h1 {
	text-align: center;
}

section p {
	font-size: 4vmin;
}

#about {
	background-color: #FDFDFB;
}

#about p {
	width: 65vw;
	margin-top: 0;
}

#github {
	background-color: #24292E;
	height: 100vh;
	color: #EEEEEE;
}

.logoLink {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 3rem;
	padding: 5px;
}

/* Most browsers don't support this but Chrome does. CUSTOM SCROLL BARS!!! */
::-webkit-scrollbar {
	width: .7rem;
}

::-webkit-scrollbar-track {
	background: #EEEEEE;
	box-shadow: inset -.2rem 0 .1rem #DDDDDD;
}

::-webkit-scrollbar-thumb {
	background: #BBBBBB;
	border-radius: .35rem;
	box-shadow: inset -.2rem -.1rem #AEAEAE;
}

::-webkit-scrollbar-thumb:hover {
	background: #AAAAAA;
}

/*Classes*/
.hidden {
	visibility: hidden;
	position: absolute;
	width: 0;
	height: 0;
}

.rowcenter, .rowalign {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.columncenter, .columnalign {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.columnalign, .rowalign {
	align-items: center;
}

.rowstack {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.columnstack {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.rowspace {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.columnspace {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.rowbetween {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.columnbetween {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.screenCover {
	height: 100vh;
	width: 100vw;
}

.slightPadding {
	padding: .5vh 20px;
}

.heavyPadding {
	padding: 20px 40px;
}