.repo {
	width: 100%;
	height: 100%;
	background-color: #000000;
	color: #EEEEEE;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 2rem;
	margin: 0;
	border-radius: .2rem;
	overflow: hidden;
}

.repo-left {
	left: -100vw;
}

.repo-display,
.hide-repo {
	transition: .5s left;
}

.repo-display {
	z-index: 11;
}

.repo-right {
	left: 100vw;
}

.repo .repomain {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.repo h2 {
	margin: .5rem 0;
	text-align: center;
}

.repo .desc {
	background-color: #FFFFFF6B;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	margin: 0 0 0 2%;
	padding: 2%;
	border-radius: 2px;
	z-index: 15;
}

.repo .desc p {
	margin: 0;
	font-size: 3.5vmax;
}

.repo .desc a {
	background-color: #BBBBBB;
	font-weight: bold;
	text-align: center;
	padding: .6rem .3rem;
	border-radius: 5px;
	transition: .2s;
}

.repo .desc a:hover {
	background-color: #CCCCCC;
	color: #194F8A;
	font-weight: bold;
}

.repo a {
	position: relative;
}

.repo-img {
	width: min(45vw, 70vmin);
	border: 1px solid white;
	border-radius: 1rem;
}

.repo a svg {
	position: absolute;
	color: white;
	top: 0;
	right: 0;
	border-top-right-radius: 1rem;
	border-top: 1px solid white;
	border-right: 1px solid white;
}

@media only screen and (max-width: 600px) {
	.repo .repomain {
		flex-direction: column;
	}

	.repo a {
		width: 90%;
	}

	.repo-img {
		width: 100%;
	}

	.repo .desc {
		flex-direction: column;
		align-items: center;
		margin: 0 2%;
		font-size: 2.5vmax;
		text-align: center;
	}
}