#repoList {
	min-height: 80vmin;
	overflow: hidden;
}

#nextrepo, #prevrepo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	width: 3rem;
	height: 3rem;
	transform: translateY(-50%);
	background-color: #FFFFFF6B;
	border-radius: 50%;
	z-index: 15;
	user-select: none;
	transition: background-color .7s;
}

#nextrepo:hover, #prevrepo:hover {
	background-color: #FFFFFF;
	cursor: pointer;
}

#nextrepo img, #prevrepo img {
	max-width: 90%;
	max-height: 90%;
}

#prevrepo img {
	transform: rotate(180deg);
}

#prevrepo {
	left: .5rem;
	z-index: 25;
}

#nextrepo {
	right: .5rem;
	z-index: 25;
}