:root {
	--nav-width: min(max(20vw, 20rem), 300px);
	font-size: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-image: url("images/background.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	color: #191816;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Roboto, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #222222;
}

section h1 {
	margin: .8rem 0;
	font-size: 1.8rem;
	text-align: center;
}

.logoLink {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 3rem;
	padding: 5px;
}

/* Most browsers don't support this but Chrome does. CUSTOM SCROLL BARS!!! */
::-webkit-scrollbar {
	width: .7rem;
}

::-webkit-scrollbar-track {
	background: #EEEEEE;
	box-shadow: inset -.2rem 0 .1rem #DDDDDD;
}

::-webkit-scrollbar-thumb {
	background: #BBBBBB;
	border-radius: .35rem;
	box-shadow: inset -.2rem -.1rem #AEAEAE;
}

::-webkit-scrollbar-thumb:hover {
	background: #AAAAAA;
}

/*Classes*/
.hidden {
	visibility: hidden;
	position: absolute;
	width: 0;
	height: 0;
}

.row-center, .row-align {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.column-center, .column-align {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.column-align, .row-align {
	align-items: center;
}

.row-stack {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.column-stack {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.row-space {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.column-space {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.row-between {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.column-between {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.heavy-padding {
	padding: 20px 40px;
}

.fade {
	animation: fade-in 1.5 ease-in-out;
}

@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}